<div class="main-todo-wrapper">
  <main class="main-todo">
    <article class="main-todo-upper">
      <div class="main-todo-title">Todo List</div>
      <div>
        <input #todoInput (keyup)="addToListEnter($event, todoInput.value)" type="text">
        <button 
          (click)="addToList(todoInput.value)"
          >Add</button>
      </div>
    </article>
    <article class="main-todo-list">
      <div *ngFor="let entry of list; let i = index" class="todo-element">{{i + 1}}.{{entry}}</div>
    </article>
  </main>
</div>

<router-outlet />
