<div class="main-todo-wrapper">
  <nav class="main-todo-navbar">Todo List</nav>
  <main class="main-todo">
    <article class="main-todo-upper">
      <div class="main-todo-title">Add something:</div>
      <div class="main-todo-upper-input-wrapper">
        <input ngModel name='inputModel' 
          #todoInput 
          (keyup)="addToListEnter($event, todoInput)" 
          type="text"
          >
        <button 
          (click)="addToList(todoInput)"
          >Add</button>
      </div>
    </article>
    <article class="main-todo-list">
      <div 
        *ngFor="let entry of list; let i = index" 
        class="todo-element"
      >
        <div>{{i + 1}}.{{entry}}</div>
        <div (click)="removeTodoElement(i)">x</div>
      </div>
    </article>
  </main>
</div>

<router-outlet />
