.main-todo-wrapper {
    width: 100%;

    border-radius: 2px;
}

.main-todo-navbar {
    padding: .8em;

    font-size: 20px;

    color: azure;
    background-color: dodgerblue;
}

.main-todo {
    margin: 0;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-todo-upper {
    width: 40%;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input[type=text] {
        width: 100%;
    }
}

.main-todo-upper-input-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.main-todo-title {
    margin: .1em .1em .5em .1em;

    font: {
        size: 20px;
        weight: bold;
    }
}

.main-todo-list {
    width: 40%;
}

.todo-element {
    margin: .3em;
    padding: .5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;

    div:nth-child(2) {
        &:hover {
            color: rgb(239, 247, 255);

            cursor: pointer;
        }
    }

    animation: 1 .5s appearScale forwards;
}

.todo-element:nth-child(odd) {
    background-color: rgb(65, 156, 247);
}

.todo-element:nth-child(even) {
    background-color: rgb(109, 180, 252);
}
