<div class="main-todo-wrapper">
  <nav class="main-todo-navbar">Todo List</nav>
  <main class="main-todo">
    <article class="main-todo-upper">
      <div class="main-todo-title">Add something:</div>
      <div class="main-todo-upper-input-wrapper">
        <input ngModel name='inputModel' 
          #todoInput 
          (keyup)="addToListEnter($event, todoInput)" 
          type="text"
          >
        <button 
          (click)="addToList(todoInput)"
          >Add</button>
      </div>
    </article>
    <article class="main-todo-list">
      <div 
        *ngIf="list.length === 0"
        class="no-entries-todo-element"
      >No entries added (yet)</div>
      <div #todoList *ngIf="list.length > 0">
        <div 
          *ngFor="let entry of list; let i = index" 
          class="todo-element"
        >
          <div 
            ngModel
            #elementValue
            class="todo-element-value"
            >
            <input 
              [checked]="entry.done"
              ngModel
              #inputCheck
              type="checkbox"
              (click)="setDone(i)"
            >
            <div
              *ngIf="entry.edit === false"
              (click)="editTodoElement(i)"
            >{{i + 1}}.{{entry.content}}</div>
            <input 
              #editInput
              *ngIf="entry.edit === true"
              (keyup)="confirmEditTodoElement($event, i, editInput.value)"
              value={{entry.content}}
              name="edit-value"
              type="text"
            >
          </div>
          <div class="todo-element-edit-x-wrapper">
            <div 
              ngModel
              #editButton
              (click)="editTodoElement(i); confirmEditTodoElement($event, i, editInputValue)"
            >edit</div>
            <div
              (click)="removeTodoElement(i)"
            >x</div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>

<router-outlet />
